* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

.margin-1 {
  margin: 1rem;
}

.flex {
  display: flex;
  gap: 10px;
  margin: 1rem;
}

.table {
  width: 100px;
}
